/*
Aeroapps Admin Portal css
*/

body {
	
	font-family:			Arial, Helvetica, Arial, sans-serif;
	background-image:		url(../images/dark.jpg);
	background-repeat:		no-repeat;
	background-size:		100% 100%;
	background-attachment: 	fixed;
    background-color: 		#cccccc;
	width:					1200px;
	margin:					auto;
	text-align:				center;
	color: white;
}

#main {
	display:inline-block;
	height: auto;
	margin: auto;
	margin-top: 50px;
	font-size: 125%;
	text-align: center;
	
}

#main li {
	list-style:none;
	
}

#main ul {
	list-style: none;
	padding: 0;
	border: 2px solid #d3d3d3;
        border-radius: 14px;
}

#header {
	clear:				both;
	height:				100px;
	text-align:			center;
	margin-bottom:		5px;
	
}

.sh1 {
	font-size:			300%;
	font-weight:		bold;
	color:			#4169E1;
}


#joinform {
	color:				#72716F;
	text-align:			center;
	width:				40%;
	margin:				auto;
	border:				5px double #003333;
	background-color:	#F8F5EC;
	margin-top:			5px;
	padding-left:		8px;
	border-radius:		15px;
	box-shadow:			5px 5px 3px 3px rgba(25,25,75,.4);
	/*					H	V	Blr	Spr rgb + new channel of opacity */
}

#uploadform {
	top:				50px;
	position: 			relative;
	color:				#72716F;
	text-align:			center;
	width:				35%;
	margin:				auto;
	border:				5px double #003333;
	background-color:	#F8F5EC;
	margin-top:			5px;
	padding-top:		10px;
	padding-left:		8px;
	border-radius:		15px;
	box-shadow:			5px 5px 3px 3px rgba(25,25,75,.4);
	/*					H	V	Blr	Spr rgb + new channel of opacity */
}

#questionform {
	top:				50px;
	color:				#72716F;
	width:				60%;
	border:				5px double #003333;
	background-color:	#F8F5EC;
	margin-top:			30px;
	margin-left:		auto;
	margin-right:		auto;
	border-radius:		15px;
	box-shadow:			5px 5px 3px 3px rgba(25,25,75,.4);
	text-align:			center;
	/*					H	V	Blr	Spr rgb + new channel of opacity */
}

.submit {	text-align:	center;	}

.submit input {
	color:				#ffffff;
	font-size:			95%;
	font-style:			italic;
	font-weight:		bold;	
	background-color:	#72716F;
	border-radius:		10px;
}

.reset input  {	
	background-color:	#72716F;
	border-radius:		10px;
}

.fh1 {	
	font-weight:		bold;
}

label {
	width:				11em;
	float:				left;
	text-align:			left;	
	padding-left:		8%;
}

#s {
    display: none;
}

#options li label{
	font-size:			18px;
	float:				right;
}

#questionform textarea{
	margin-right:		3%;
	width:				81%;
}

#options{
	display:			inline;
}

select {
	width:				200px;
	height:				22px;
	border-radius:		10px;
	background:			#fff;
}

select:required { background: #ff0; }

select:valid { background:	#fff; }

select:focus:invalid { background:	#f00; }

textarea {
	padding:			3px;
	width:				375px;
	border-radius:		10px;
	background:			white no-repeat top right;	
}

textarea:required { background-image: url('../images/required.png');}

textarea:valid { background-image: url('../images/valid.png');}

textarea:focus:invalid { background-image: url('../images/invalid.png');}

input[type=text],input[type=password],input[type=email]{
	width:				200px;
	height:				22px;
	padding:			3px;
	border-radius:		10px;
}

.left {float: left; }
.mid {padding-left: 5px; }
.right {float: right; }

#title{
	text-align:			center;
	font-size:			35px;
	color:				White;
	background:			rgba(255,255,255,0.3);
	width:				100%;
	text-transform:		uppercase;
	margin-bottom:		-17px;
}
#selection{
	font-size:			20px;
}

#selection li{
	list-style:			none;
	float:				left;
	width:				500px;
	background:			rgba(255,255,255,0.4);
	display:			block;
	color:				white;
	margin-bottom:		30px;
}

#navselection{
	font-size:			30px;
	margin-bottom:		70px;
}

#navselection li{
	list-style:			none;
	float:				left;
	width:				200px;
	display:			block;
	border-radius: 		5px;
	background:			rgba(0,0,0,0.5);

	color:				white;
}

#navbar{
	width:				100%;
	text-decoration:	none;
}

#navbar li a{
	text-decoration: 	none;
	font-family:		Optima;
}	

#navbar li:hover{
	background-color:	rgba(255,255,255,0.8);
	
}

ul#navbar{
	list-style:			none;
	padding:			0;
}

#options{
	width:				100%;
	font-size:			26px;
}

#options li{
	width:				33.3%;
}

ul#options{
	list-style:			none;
	padding:			0;
	
}#options2{
	width:				100%;
	font-size:			26px;
}

#options2 li{
	width:				50%;
}

ul#options2{
	list-style:			none;
	padding:			0;
}

#list{
	margin-top:			50px;
	text-align:			left;
	font-size:			23px;
	margin-bottom:		50px;
}

#list li{
	list-style:			none;
}

a:link { color: #FFFFFF; }
a:hover { color: #4169E1!important; }
a:visited { color: rgba(255,255,255,0.8); }

#footer {
	margin-top:			0;
	font-size: 			60%;
	text-align: 		center;
	line-height: 		1.5em;
	position:			relative;
	bottom:				0;
}

.logerr {
	color: 				red;
	font-size: 			75%;
}

.hidden{
    display:none;
}

.unhidden{
    display:block;
}